#gameContainer {
    --game-font-size: var(--fs-400);
    display: grid;
    overflow: hidden;
    grid-template-rows:
        [top] min-content [chat] auto;
    gap: 0;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: var(--game-font-size);
}

#left {
    background-color: hsl(var(--main-color-secondary));
}

#right {
    background-image: linear-gradient(hsl(var(--secondary-color-darker)), hsl(var(--secondary-color)));
}

#salle {
    width: auto;
    height: 100%;
}

#dialogueBox {
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: hsl(31.35deg 73.55% 52.55%);
    font-weight: 700;
}

#presentateurWrapper {
    position: relative;
    height: 50%;
}

#presentateur {
    position: absolute;
    width: auto;
    height: 60%;
    left: 15%;
    bottom: 26%;
}

@media screen and (min-width: 750px) {
    #gameContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
    }

    #dialogueBox {
        position: absolute;
        right: 1rem;
        top: 2rem;
    }
}

.column {
    overflow: auto;
}

#answer {
    display: flex;
    margin-top: auto;
    color: white;
    height: calc(var(--game-font-size) * 2);
}

#answer textarea {
    font-size: inherit;
    resize: none;
    flex: 1;
    overflow: hidden;
    align-content: center;
    background-color: hsl(var(--secondary-color-darker));
    padding-inline: 0.5rem;
    box-shadow: inset 0px 2px 3px 1px black,
        inset 0px 0px 1px 1px black;
}

#answer>* {
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    border-color: hsl(var(--secondary-color-lighter));

}

#answer textarea:focus-visible {
    outline: none;
}

.boutonBombe {
    --_bg-light: white;
    --_bg-dark: black;
    --_bg: var(--_bg-light);

    --_highlight-size: 0;

    --_highlight-light: hsl(210 10% 71% / 25%);
    --_highlight-dark: hsl(210 10% 5% / 25%);
    --_highlight: var(--_highlight-light);

    --_shadow-strength-light: 1%;
    --_shadow-strength-dark: 25%;
    --_shadow-strength: var(--_shadow-strength-light);

    --_shadow-color: var(--main-color-secondary);
    --_border-light: hsl(var(--main-color-secondary));
    --_border: var(--_border-light);

    --_shadow-1: 0 1px 2px -1px hsl(var(--_shadow-color)/calc(var(--_shadow-strength) + 9%));
    --_shadow-2: 
        0 3px 5px -2px hsl(var(--_shadow-color)/calc(var(--_shadow-strength) + 3%)),
        0 7px 14px -5px hsl(var(--_shadow-color)/calc(var(--_shadow-strength) + 5%));
    
    --_shadow-depth-light: 0 1px var(--_border-light);
    --_shadow-depth-dark: 0 1px var(--_bg-dark);
    --_shadow-depth: var(--_shadow-depth-light);

    border: 2px solid var(--_border);

    box-shadow: 
        var(--_shadow-2),
        var(--_shadow-depth),
        0 0 0 var(--_highlight-size) var(--_highlight)
    ;

    
    --left-right-shadow: 0.5rem;
    background-image:
        linear-gradient(to top,
            hsla(0, 0%, 100%, 0) 0%,
            hsla(0, 0%, 100%, 0.5) 10%,
            hsla(0, 0%, 100%, 0.2) 20%,
            hsla(0, 0%, 100%, 0) 80%,
            hsla(0, 0%, 100%, 0.8) 93%,
            hsla(0, 0%, 100%, 0) 100%),
        linear-gradient(to right,
            hsla(0, 0%, 0%, 1) 0%,
            hsla(0, 0%, 0%, 0) var(--left-right-shadow),
            hsla(0, 0%, 0%, 0) calc(100% - var(--left-right-shadow)),
            hsla(0, 0%, 0%, 1) 100%);
    background-blend-mode: overlay;
    cursor: pointer;
    z-index: 20;
    position: relative;
}

.boutonBombe:active {
    background-image:
        linear-gradient(to top,
            hsla(0, 0%, 100%, 1) 0%,
            hsla(0, 0%, 100%, 0.5) 10%,
            hsla(0, 0%, 100%, 0.8) 20%,
            hsla(0, 0%, 100%, 1) 80%,
            hsla(0, 0%, 100%, 0) 93%),
        linear-gradient(to right,
            hsla(0, 0%, 0%, 1) 0%,
            hsla(0, 0%, 0%, 0) var(--left-right-shadow),
            hsla(0, 0%, 0%, 0) calc(100% - var(--left-right-shadow)),
            hsla(0, 0%, 0%, 1) 100%);
    background-blend-mode: overlay;
}

#answer button {
    font-size: inherit;
    flex: 0.2;
    background-color: hsl(var(--secondary-color-lighter));
    --_shadow-color: var(--secondary-color);
    --_border-light: hsl(var(--secondary-color));
}

.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5rem;
}

#chat {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    padding-bottom: 0.5rem;
    overflow: hidden;
    text-shadow:
        1px 1px 2px black,
        -1px 1px 2px black,
        1px -1px 2px black,
        -1px -1px 2px black;
}

.playerMessage {
    color: white;
}

.pseudo {
    color: hsl(273, 35%, 76%);
}

.card {
    background-color: hsl(var(--main-color-secondary-lighter));
    border-radius: 10% / 25%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.card.empty {
    background-color: hsl(var(--main-color-secondary-darker));
}

.card.hasAnswered {
    background-color: hsl(25, 92%, 33%);
}

.cardScore {
    margin-left: auto;
    font-weight: bold;
    font-family: sans-serif;
}

.card span {
    padding: 0.5rem;
}

#applaudissements {
    width: 100%;
    font-weight: bold;
    font-size: inherit;
    border-radius: 5px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    margin-top: 0.1rem;
    margin-bottom: 0.4rem;
    background-color: hsl(var(--main-color-secondary-lighter));
}

#leftWrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 0;
    align-items: center;
    height: 100%;
}

#scoreBoard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 3px;
    column-gap: 6px;
    width: 100%;
    flex: 1;
}

#modal {
    width: 100%;
    height: 100%;
    background-color: hsl(0 0 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal>div {
    padding: 20px;
    text-align: center;
}

#modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: transparent;
}

#modal button {
    padding: 10px 20px;
    background-color: hsl(var(--main-color-secondary));
    color: white;
}