.container {
    margin: auto;
    display: grid;
    overflow: hidden;
    grid-template-rows:
        [top] min-content
        [chat] auto;
    gap: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

#presentateur {
    height: 150px;
    width: auto;
}

@media screen and (min-width: 750px) {
    .container {
        width: 750px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
        height: 450px;
    }
    #presentateur {
        height: 250px;
    }
}

.column {
    border: 1px solid lightgray;
    overflow: auto;
}

#answer {
    display: flex;
    margin-top: auto;
}

#answer textarea {
    background-color: transparent;
    resize: none;
    flex: 1;
    overflow: hidden;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5rem;
}

#chat {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    padding-bottom: 0.5rem;
    overflow: hidden;
}

.pseudo {
    color: blue;
}

.card {
    background-color: hsl(286.92deg 100% 30.59%);
    border-radius: 0.5rem;
    height: 2rem;
    width: 10rem;
    display: flex;
    align-items: center;
}

.card.empty {
    background-color: hsl(284.47deg 95.51% 17.45%);
}

.card.hasAnswered {
    background-color: hsl(25, 92%, 33%);
}

.cardScore {
    margin-left: auto;
    font-size: x-large;
    font-weight: bold;
    font-family: sans-serif;
}

.card span {
    padding: 0.5rem;
}