#contentContainer {
    height: 90%;
    aspect-ratio: 1.29;
    display: flex;
    flex-direction: column;
}

#contentContainer > main {
    padding: 1rem;
    flex: 1;
}

.roundedContainer {
    background-color: hsl(var(--main-color));
    border-radius: 15px;
    border-style: solid;
    border-color: white;
}

#tv {
    position: relative;
    border: solid 6px black;
    background-color: black;
    height: 100%;
}
#tv::before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(0deg, 
        hsla(0, 0%, 100%, 0) 0% 80%,
        hsla(0, 0%, 100%, 0.05) 80% 
        );
    background-size: 4px 4px;
    z-index: 10;
    background-repeat: repeat;
}

#tv > div {
    border: solid 1px gray;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
}

#contentContainer header {
    height: 4rem;
    font-size: 1rem;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-width: 4px;
    box-shadow: inset 0px 0px 1px 2px #000000;
    background-color: hsl(var(--main-color));
    background-image:
        linear-gradient(90deg, hsla(0, 0%, 100%, 0.8) 0% 1%, hsla(0, 0%, 100%, 0) 5% 95%, hsla(0, 0%, 100%, 0.4) 99% 100%),
        linear-gradient(70deg, hsla(0, 0%, 100%, 0) 90%, hsla(0, 0%, 100%, 0.4) 96% 100%),
        radial-gradient(ellipse 103% 190% at bottom -10% left 54%, hsla(0, 0%, 100%, 0) 0% 50%, hsla(0, 0%, 100%, 30%) 50%);
}

@media screen and (min-height: 600px) {
    #contentContainer header {
        height: 6rem;
        font-size: 1.5rem;
    }
}

#contentContainer header nav {
    font-weight: 700;
    display: flex;
    gap: 0.5em;
}

#contentContainer header nav a {
    color: white;
    position: relative;
}

#contentContainer header nav a span:hover {
    text-decoration: underline;
}

#contentContainer header nav a:not(:last-child)::after {
    content: "•";
    color: hsla(0, 0%, 100%, 0.7);
    margin-left: 0.5em;
}

#contentContainer header nav a:hover:not(:last-child)::after {
    text-decoration: none;
} 

#logo {
    height: 150%;
    align-self: end;
    width: auto;
    position: relative;
    bottom: 0%;
    left: 0%;
}

#infos {
    --info-border-radius: 5px;
    justify-self: end;
    height: 80%;
}

#infos > div {
    margin-inline: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsla(0, 0%, 100%, 0.2);
    border-radius: var(--info-border-radius);
    height: 100%;
}

#infos > div > div {
    display: flex;
    align-items: center;
}

#infos .infoName {
    color: hsl(var(--main-color));
    font-weight: bold;
    flex: 1;
    text-shadow:
        0.5px 0.5px 0 white,
        -0.5px 0.5px 0 white,
        0.5px 0 0 white,
        -0.5px 0 0 white,
        0 0.5px 0 white;

}

#infos .infoValue {
    color: hsl(47.47deg 93.81% 80.98%);
    font-weight: bold;
    background-image: linear-gradient(-2deg, hsla(0, 0%, 100%, 0.2) 0% 60%, hsla(0, 0%, 100%, 0.5) 60% 100%);
    flex: 1;
    border-radius: var(--info-border-radius);
    border-width: 2px;
    border-color: white;
    border-style: solid;
    padding-inline: 0.3rem;
    box-shadow: inset 0px 1px 1px 0px black;
    text-shadow: 0px 0.5px 2px black;
}